<div class="row">
<form class="col-lg-6 col-md-6 col-sm-12 border-0 pl-5" method="POST" action="/submitoffer">
    <br>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Quantity</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Your offer (£)</label>
      <input class="form-control" type="number" min="1" max="100000" id="exampleFormControlInput1" placeholder="Numeric value" required>
    </div>
    <h1><strong>Item offer</strong></h1>
    <div style="background-color: white;">
      <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px; border: solid black 1px;">
      </div>
      <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px;">
      </div>
      <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="float: left; width:120px; height:60px; margin-right:15px;border: solid black 1px; ">
      </div>
    </div>
    <br style="clear: both;">
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Additional message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
          <input class="btn btn-success" type="submit" name="submit_reg" value="Submit offer">
    </div>
  </form>

  <div class="col-lg-6 col-md-6 col-sm-12 text">
    <h1><strong>Items you own</strong></h1>
    <div class="description">
      <div id="myDiagramDiv2" class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)" style="height: 200px; background-color: #DAE4E4;">
      </div>
    </div>
  </div>
</div>