<div class="container">

	<div class="row" id="rowafter">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <br>
            <form action="" method="post" id="fileForm" role="form" onsubmit="return formValid()">
            <div class="form-group"> 	 
                <label for="firstname"><span class="req"> </span> First name: </label>
                    <input class="form-control" type="text" name="firstname" id="fname" onchange="validate('fname');"  required /> 
                        <div id="errFirst"></div>    
            </div>
            <p class="text-danger" id="fnameErr"></p>

            <div class="form-group">
                <label for="lastname"><span class="req"> </span> Last name: </label> 
                    <input class="form-control" type="text" name="lastname" id = "lname" onchange="validate('lname');"  placeholder="" required />  
                        <div id="errLast"></div>
            </div>
            <p class="text-danger" id="lnameErr"></p>

            <div class="form-group">
                <label for="email"><span class="req"> </span> Email Address: </label> 
                    <input class="form-control" required type="text" name="email" id = "email"  onchange="validate('email');" />   
                        <div class="status" id="status"></div>
            </div>
            <p class="text-danger" id="emailErr"></p>

            <div class="form-group">
                <label for="username"><span class="req"></span> Username:  <small></small> </label> 
                    <input class="form-control" type="text" name="username" id = "username" onchange = "validate('username');" placeholder="" required />  
                        <div id="errLast"></div>
            </div>
            <p class="text-danger" id="usernameErr"></p>

            <div class="form-group">
                <label for="password"><span class="req"> </span> Password: </label>
                    <input required name="pass" type="password" class="form-control inputpass" minlength="4" maxlength="16"  id="pass1" /> </p>

                <label for="password"><span class="req"> </span> Confirm your password: </label>
                    <input required name="password" type="password" class="form-control inputpass" minlength="4" maxlength="16" placeholder=""  id="pass2" onchange="validate('password');" />
                        <span id="confirmMessage" class="confirmMessage"></span>
            </div>
            <p class="text-danger" id="passwordErr"></p>

            <div class="form-group">
                <input class="btn btn-success" type="submit" name="submit_reg" value="Register">
            </div>

            </fieldset>
            </form><!-- ends register form -->
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script>
var valid = false;
    // some form validation/posting of data
    function formValid(){
        var password = document.getElementById("pass2").value;
        var passwordConfirm = document.getElementById("pass1").value;
        var email = document.getElementById("email").value;
        if(password != passwordConfirm){
            var text = "Passwords don't match. Password must be less than 30 characters but more than 8 and can only contain A-Z 0-9.";
            document.getElementById("passwordErr").innerHTML = text;
            return false;
        }
        var emailValid = checkEmail(email);
        if(!emailValid){
            alert('Email invalid. Email must be less than 100 characters but more than 7 and can only contain A-Z 0-9 @ .');
            return false;
        }
        return valid;

    }

    function validate(name){
        switch(name){
            case 'fname':
                var firstname = document.getElementById("fname").value;
                //Check length, spaces, special characters 
                if(firstname.length < 1 || firstname.length > 30 || specialCharCheck(firstname, 'default')){
                    var text = "First name must be less than 30 characters but more than 1 and can only contain A-Z 0-9";
                    document.getElementById("fnameErr").innerHTML = text;
                    if(valid){
                        valid = false;
                    }
                } else {
                    document.getElementById("fnameErr").innerHTML = '';
                    if(!valid){
                        valid = true;
                    }
                }
                break;
            case 'lname':
                var lastname = document.getElementById("lname").value;
                if(lastname.length < 1 || lastname.length > 30 || specialCharCheck(lastname, 'default')){
                    var text = "Last name must be less than 30 characters but more than 1 and can only contain A-Z 0-9";
                    document.getElementById("lnameErr").innerHTML = text;
                    if(valid){
                        valid = false;
                    }
                } else {
                    document.getElementById("lnameErr").innerHTML = '';
                    if(!valid){
                        valid = true;
                    }
                }
                break;
            case 'email':
                var email = document.getElementById("email").value;
                
                if(email.length < 7 || email.length > 100 || specialCharCheck(email, 'email') || !checkEmail(email)){
                    var text = "Email invalid. Email must be less than 100 characters but more than 7 and can only contain A-Z 0-9 @ .";
                    document.getElementById("emailErr").innerHTML = text;
                    if(valid){
                        valid = false;
                    }
                } else {
                    document.getElementById("emailErr").innerHTML = '';
                    if(!valid){
                        valid = true;
                    }
                }
                break;
            case 'password':
                var password = document.getElementById("pass2").value;
                var passwordConfirm = document.getElementById("pass1").value;
                if(password.length < 8 || password.length > 30 || specialCharCheck(password, 'default') || password != passwordConfirm){
                    var text = "Password must be less than 30 characters but more than 8 and can only contain A-Z 0-9. Passwords must also be matching.";
                    document.getElementById("passwordErr").innerHTML = text;
                    if(valid){
                        valid = false;
                    }
                } else {
                    document.getElementById("passwordErr").innerHTML = '';
                    if(!valid){
                        valid = true;
                    }
                }
                break;
            case 'username':
                var username = document.getElementById("username").value;
                if(username.length < 8 || username.length > 30 || specialCharCheck(username, 'default')){
                    var text = "Username must be less than 30 characters but more than 8 and can only contain A-Z 0-9";
                    document.getElementById("usernameErr").innerHTML = text;
                    if(valid){
                        valid = false;
                    }
                } else {
                    document.getElementById("usernameErr").innerHTML = '';
                    if(!valid){
                        valid = true;
                    }
                }
                break;
        }
    }

    function specialCharCheck(word, wordType){
        var specialChars = " \\!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"
        var specialCharsArr = [];
        for(var i = 0; i < specialChars.length; i++){
            specialCharsArr.push(specialChars.charAt(i));
        }
        for(var i = 0; i < word.length; i++){
            for(var j = 0; j < specialCharsArr.length; j++){
                if(word.charAt(i) == specialChars[j]){
                    if((specialChars[j]=='@' || specialChars[j]=='.') && wordType == 'email'){
                        //Do nothing email requires @ and dot
                    } else {
                        return true;
                    }
                }
            }
        }
        return false;
    }
    
    function checkEmail(email){
        var containsDot = false;
        var containsAt = false;
        for(var i = 0; i < email.length; i++){
            if(email.charAt(i) == '.'){
                containsDot = true;
            }
            if(email.charAt(i) == '@'){
                containsAt = true;
            }
        }
        if(containsDot && containsAt){
            document.getElementById("emailErr").innerHTML = '';
            return true;
        }else{
            return false;
        }
    }
</script>