<div class="container">
	<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <form action="" method="post" id="fileForm" role="form">
                <div class="form-group"> 	 
                    <label for="firstname"><span class="req"> </span> First name: </label>
                        <input class="form-control" type="text" name="firstname" id="fname"  pattern="^[A-Za-z0-9]+$" minlength="1" maxlength="30" required/> 
                </div>

                <div class="form-group">
                    <label for="lastname"><span class="req"> </span> Last name: </label> 
                        <input class="form-control" type="text" name="lastname" id = "lname" placeholder="" pattern="^[A-Za-z0-9]+$" minlength="1" maxlength="30"  required />  
                </div>

                <div class="form-group">
                    <label for="email"><span class="req"> </span> Email Address: </label> 
                        <input class="form-control"  type="email" name="email" id = "email" maxlength="100" required />   
                            <div class="status" id="status"></div>
                </div>

                <div class="form-group">
                    <label for="username"><span class="req"></span> Username:  <small></small> </label> 
                        <input class="form-control" type="text" name="username" id = "username" placeholder="" pattern="^[A-Za-z0-9]+$" minlength="8" maxlength="30" required />  
                </div>

                <div class="form-group">
                    <label for="password"><span class="req"> </span> Password: </label>
                        <input name="pass" type="password" id="pass1"  class="form-control inputpass"  minlength="8" maxlength="30"  required />

                    <label for="password"><span class="req"> </span> Confirm your password: </label>
                        <input required name="password" type="password" id="pass2" class="form-control inputpass" oninput="checkPasswordsMatch();" placeholder="" minlength="8" maxlength="30" required />
                            <span id="confirmMessage" class="confirmMessage"></span>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" name="submit_reg" value="Register">
                </div>

                </fieldset>
            </form>
  </div>
</div>
</script>
<script>
    function checkPasswordsMatch(){
        var pass1 = document.getElementById('pass1');
        var pass2 = document.getElementById('pass2');
        if (pass1.value == pass2.value) {
            pass2.setCustomValidity('');
        } else {
            pass2.setCustomValidity('Password Must be Matching.');
        }
    }
//     function specialCharCheck(word, wordType){
//         var specialChars = " \\!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"
//         var specialCharsArr = [];
//         for(var i = 0; i < specialChars.length; i++){
//             specialCharsArr.push(specialChars.charAt(i));
//         }
//         for(var i = 0; i < word.length; i++){
//             for(var j = 0; j < specialCharsArr.length; j++){
//                 if(word.charAt(i) == specialChars[j]){
//                     if((specialChars[j]=='@' || specialChars[j]=='.') && wordType == 'email'){
//                         //Do nothing email requires @ and dot
//                     } else {
//                         return true;
//                     }
//                 }
//             }
//         }
//         return false;
//     }
</script>