#offer-search{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1em;
    text-align: center;
    height: 2.5em;
}
.offer{
    margin: auto;
    width: 90%;
    border: 2px solid lightgray;
    padding: 1em;
    margin-top: 1em;
}
.items-offered {
    display: flex;
    flex-wrap: wrap;
    flex: 400px;
    flex-direction: row;
}
.items-offered img{  
    width: 100px;
    height: 70px;
}
.horizontal-line{
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.5px solid lightgray;
}
.hide{
    display: none;
}