<div class="modal fade" id="sendmessagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/sendmessage">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient" minlength="8" maxlength="30"  name="recipient" value="">
          </div>
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" minlength="1" maxlength="100"  id="title" name="title" value="">
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message" name="message" minlength="1" maxlength="750" placeholder="Write your message here."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$( "#message" ).on('input', function() {
    if ($(this).val().length==750) {
      $('#modalmsg').text('You have reached character limit of 750.');
      console.log($('#modalmsg'));
      $('#modal').modal("show");
        setTimeout(() => {
            $('#modal').modal("hide");
        }, 2000);     
    }
});
</script>