.form-btn{
    margin-left: 6em;
    margin-bottom: 1em;
}

.login-form{
    border: 0.25px solid lightgray;
    box-shadow: lightslategray;
    padding: 1em;
}

.horizontal-line{
    height: 1px;
    width: auto;
    margin: auto;
    border: 0.25px solid lightgray;
    margin-bottom: 1em;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  padding: 0 20px 0 90px;
  /* margin-left: 2.5em; */
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 19em;
  margin-top: .75em;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--google {
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
        .chatIcon{
            background-image: url('/images/composemessage.png');
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            position: fixed;
            left:calc(100% - 85px);
            bottom: 40px;
            z-index: 10;
            height:70px;
            width: 70px;
            border-radius: 50%;
        }

        .chatBox{
            display:block;
            position: fixed;
            z-index: 10;
            left: calc(82.5% - 500px);
            bottom: 15%;
            padding-left: 1.5em;
            height: 200px;
            width: 500px;
            border: 2px solid #0275d8; 
            background-color: white;
            overflow: scroll;
            scrollbar-width: none;
            border-top-left-radius: 5px;
           
        }
        .hide{
            opacity:1;
            -webkit-animation: fade 1.0s forwards;
            animation-name: fade 1.0s forwards;
        }
        .fadein{
            opacity:0;
            -webkit-animation: fadeIn 1.0s forwards;
            animation-name: fadeIn 1.0s forwards;
        }
        .chatMsg{
            border-bottom: 1px solid black;
            margin-top:1.05em;
        }
        .chatMsg p{
            font-size: .7em;
        }
        .msg-sender{
            font-weight: 500;
        }
        .hidden{
            display: none;
        }
        .date{
            text-align: right;
        }
        .chatMsg:hover{
            opacity:0.5;
        }
        @keyframes fadeIn{
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @keyframes fade {
            from {
                opacity:1;
            }
            to {
                opacity:0;
            }
        }
        .chat-users{
            position: fixed;
            border: 2px solid #0275d8; 
            background-color: white;
            width: 200px;
            height: 230px;
            left: 82.5%;
            bottom: 12%;
            z-index: 8;
            overflow: scroll;
            background-color: inherit;
            scrollbar-width: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .chat-users p{
            background-color: white;
            text-align: center;
            border-bottom: 1px solid #0275d8;
            padding:0;
            margin:0;
            color: #022e55;
            font-weight: 300;
            font-size: 1.6em;
        }
        .chat-users p:hover{
            background: #0275d8;
            color: white;
        }
        .chat-box-message{
            height: 28px;
            width: 500px;
            padding:0;
            margin:0;
            position: fixed;
            bottom:12%;
            left:inherit;
            z-index: 100;
        }
        .chat-box-message input{
            border: 2px solid  #0275d8;
            width: 100%;
            padding: 0%;
            margin: 0%;
            margin-top: -2%;
            border-bottom-left-radius: 5px;
        }
        #notifications-drop-down{
            scrollbar-width: none;
        }
        .dropdown-notification:hover{
            background-color: #0275d8;
        } 
        .dropdown-notification:hover span{
            color: white;
        } 
        ::-webkit-scrollbar {
            display: none;
        }
        .dropdown-menu{
            max-height:80px;
        }
    
        @media (max-width: 768px) {
            #search-submit-btn{
                display: none;
            }
        }

        @media (max-width: 375px) {
            .chatBox{
                width:250px;
                left: calc(82.5% - 300px);
                bottom: 12%;
                overflow-x: scroll;
            }
            #chat-box-input{
                width:250px;
            }
            #chat-users{
                width:100px;
                left: calc(82.5% - 50px);
                bottom: 12%;
            }
            
        }

        @media (max-width: 360px) {
            .chatBox{
                width:200px;
                left: calc(82.5% - 250px);
                bottom: 12%;
                overflow-x: scroll;
            }
            #chat-box-input{
                width:200px;
            }
            #chat-users{
                width:100px;
                left: calc(82.5% - 50px);
                bottom: 12%;
                overflow-x: scroll;
            }
        }
        