.hamburger-menu{
    position: absolute;
    visibility: hidden;
    height:200px;
    width: 100vw;
    z-index: 5;
    top: 76px;
    left: 0px;
    background-color: #007bff;
    border: 1px solid white;
}
.nav{
    height:76px;
    width: 100vw;
    background: #007bff;
}


.dropdown-menu{
    overflow-y: auto;
    height: 400%;
}
#search-box{
    width: 50vw;
}

@media screen and (max-width: 1510px){
    #search-box{
        width: 45vw;
    }
}

@media screen and (max-width: 1320px){
    #search-box{
        width: 40vw;
    }
}

@media screen and (max-width: 1175px){
    #search-box{
        width: 35vw;
    }
}

@media screen and (max-width: 1060px){
    #search-box{
        width: 15vw;
    }
}

@media screen and (max-width: 800px){
    #search-box{
        width: 10vw;
    }
}