.offers-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding: 0.5em;
}

.item-name{
    margin-right: 1em;
    padding-top: 25px;
}

.tradeoffer-container{
    /* width: 50%; */
    /* margin: auto; */
}

.accepted{
    color: #28a745;
}

h3{
    color: black;
}

.offer-images{
    border: 1px solid lightgray;
    padding: .5em;
}

.offer-item-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-img{
    height: 20vh;
    width: auto;
}

.offer-details{
    margin: auto;
    text-align: center;
    border: 1px solid lightgray;
    padding: 0 3em 3em 3em;
    width: 50%;
}

.offer-info{
    border: 1px solid lightgray;
    text-align: left;
    padding: 1em;
}

.offer-details > div{
    margin-top: 2em;
}

.offer-poster{
    border: 1px solid rgba(211, 211, 211, 0.658);
    margin: auto;
    width: 10vw;
    padding: 1em;
}

.offer-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5em;
}

.offer-footer > button {
    /* margin: .25em 4em .25em 0; */
    height: 50px;
    width: 100px;
}

.carousel-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid lightgray;
}

.carousel-controls > .outline-blue {
    margin: .25em 0 .25em 0;
}

.indicators{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin-left: 10px;
}

.indicators > div{
    margin-right: 10px;
}

.active-indicator{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: black;
}

.indicator{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: lightgray;
}